/*---------- Global CSS ----------*/
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
	src: local('Material Icons'),
		 local('MaterialIcons-Regular'),
		 url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
		 url('../fonts/MaterialIcons-Regular.woff') format('woff'),
		 url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Light.eot');
	src: url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Light.woff2') format('woff2'), url('../fonts/Poppins-Light.woff') format('woff'), url('../fonts/Poppins-Light.svg#Poppins-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.eot');
	src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.eot');
	src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Medium.woff2') format('woff2'), url('../fonts/Poppins-Medium.woff') format('woff'), url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.eot');
	src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-SemiBold.eot');
	src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
}
body {
	font-family: "Poppins";
	font-size: 0.875rem;
	font-weight: normal;
	color: #333;
	overflow-y: auto;
/* 	background: url(../images/bg-pattern.png) no-repeat center 54px; */
    background-color:#ffffff;
	background-attachment: fixed;
    overflow-x: hidden
}
a {
	text-decoration: none !important;
}
* {
	margin: 0;
	padding: 0;
}
.bg-blue {
	background-color: #010241;
}
.bg-blue,
.bg-orange,
.bg-blue:focus,
.bg-orange:focus,
.bg-blue p,
.bg-orange p,
.bg-blue h3,
.bg-orange h3,
.bg-blue h4,
.bg-orange h4,
.bg-blue h5,
.bg-orange h5,
.bg-blue h6,
.bg-orange h6 {
	color: #fff;
}
.bg-orange {
	background-color: #EE7800;
}
.bg-orange:hover,
.bg-orange:focus {
	background-color: #dc7002;
}
.no-bg {
	background: transparent;
}
.no-border {
	border: none;
}
.form-control {
	font-size: 0.875rem;
}
.btn {
    align-items: center;
	font-weight: 600;
	padding: 0.5rem 2rem;
    height : 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn-blue {
	background-color: transparent;
	border: 2px solid #4487f3;
	color: #4487f3;
}
.btn-blue:hover, .btn-blue:focus {
	background-color: #4487f3;
	color: #fff;
}
.btn-grey {
	background-color: #999;
	color: #fff;
}
.btn-grey:hover, .btn-grey:focus {
	background-color: #888;
	color: #fff;
}
.btn-white {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}
.btn-white:hover, .btn-white:focus {
	background-color: #fff;
	color: #222;
}
.btn-pill,  .pill-25 {
	border-radius: 25px;
}
.select-left-pill {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.btn-outline {
	background-color: transparent;
	border: 1px solid #e0e0e0;
}
.btn-disabled {
	opacity: 0.5;
}

/*---------- Main Menu CSS ----------*/
.header-wrapper {
	background-color: #fff;
	z-index: 9999;
	border-bottom: 1px solid #4487f3;
}
.sticky-top {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
header nav,
header .navbar-collapse {
	height: 100%;
}
.navbar .has-megamenu {
	position: static !important;
}
.navbar .megamenu {
	left: 0;
	right: 0;
	width: 100% !important;
	padding: 20px;
}
.main-menu {
	justify-content: flex-end;
}
header a.navbar-brand {
	margin: 0;
	display: flex;
	align-items: center;
	color: #fff;
    margin: 0;
    padding: 0;
}
header a.navbar-brand h4 {
	margin: 0;
}
header .navbar-nav li {
	display: flex;
	align-items: center;
}
header .navbar-nav li a {
	color: #444;
	font-size: 0.875rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	padding: 20px 12px !important;
	border-right: 1px solid rgba(0,0,0,0.1);
	line-height: 1.75;
}
header .navbar-nav li:first-child a {
	padding-right: 0.5rem !important;
}
header .navbar-nav li:last-child a {
	border: none;
}
header .navbar-nav li.active > a {
	background-color: #4487f3;
	color: #fff;
}
header .navbar-nav li a i {
	font-size: 1.5rem;
	padding-right: 0.5rem;
}
header .navbar-nav li a span.hidden {
	display: none;
}

/*---------- Page Title CSS ----------*/
.content-wrapper {
	margin-bottom: 5rem;
}
.content-wrapper h2 {
	font-weight: 600;
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
    line-height: 0.7;
}
.content-wrapper h2:before {
	content: '';
	width: 75px;
	height: 3px;
	background-color: #4487f3;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
}
.content-wrapper .title h2 {
	display: flex;
	justify-content: left;
}
.content-wrapper .title .btn {
	display: inline-block;
}
.content-wrapper h4 {
	text-align: center;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 2.5rem;
}
.content-wrapper h4.h4-title {
	font-weight: 600;
	margin-bottom: 1.5rem;
}
.content-wrapper h4 span {
	display: block;
}
.content-wrapper .btn {
	display: table;
	margin: 0 auto;
}

.inner-wrapper h3 {
	font-weight: 600;
	border-left: 5px solid #ee7800;
	line-height: 0.8;
	padding-left: 0.5rem;
	margin: 2.5rem 0;
}

/*---------- Multiselect Dropdown CSS ----------*/

ul.multiselect-container {
	width: 100%;
	padding: 0.5rem 0;
}

ul.multiselect-container li a {
	color: #555;
}

ul.multiselect-container li a label {
	padding: 0 1rem 0.25rem;
	font-size: 0.875rem;
}

ul.multiselect-container li a label input {
	margin-right: 5px;
	height: auto;
}

.multiselect-container>li>a.multiselect-all label {
	font-weight: 400;
}

ul.multiselect-container li:last-child a label {
	padding-bottom: 0;
}

.multiselect-native-select .btn-group {
	width: 100%;
}

button.multiselect {
	width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 1px solid #ced4da;
    font-size: 0.875rem;
	color: #555;
	padding: 0.375rem 0.875rem;
	height: 40px;
	text-transform: none;
}

button.multiselect span {
	font-weight: 400;
	width: 90%;
	overflow: hidden;
	text-align: left;
	letter-spacing: 0;
}

/*---------- Hamburger Icon Animation ----------*/
#nav-icon4 {
	width: 26px;
	height: 18px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
  }
  
  #nav-icon4 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #fff;
	border-radius: 4px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }
  
  #nav-icon4 span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(2) {
	top: 7px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(3) {
	top: 14px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
  }
  
  #nav-icon4.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -3px;
	left: 4px;
  }
  
  #nav-icon4.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
  }
  
  #nav-icon4.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 15px;
	left: 4px;
  }

/*---------- Footer - Copyright ----------*/
.copyright {
	background-color: #f0f0f0;
	padding: 0.5rem 1rem;
	text-align: center;
	flex-shrink: 0;
}
.copyright p {
	font-size: 0.75rem;
	margin: 0;
}
.footer-fixed {
	position: fixed;
	bottom: 0;
}

/*---------- navbar animation ----------*/
/* Sweep To Top */
.swipe-up {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.swipe-up:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4487f3;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swipe-up:hover, .swipe-up:focus, .swipe-up:active {
  color: white;
}
.swipe-up:hover:before, .swipe-up:focus:before, .swipe-up:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/*---------- Responsive CSS ----------*/

@media (min-width: 1600px) and (max-width: 1920px) {
	body {
		font-size: 1rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 2.25rem;
	}
	.banner-content p {
		margin-bottom: 1.5rem;
	}
	.discover-wrapper .card p {
		font-size: 1.15rem;
	}
	.discover-wrapper .card ul li {
		font-size: 1.15rem;
	}
	.discover-wrapper .card ul li span {
		width: 50px;
		height: 50px;
	}
	.discover-wrapper .card ul li span i {
		font-size: 1.5rem;
	}
	.banner-content h2 sup {
		top: -1.5rem;
	}
	.sub-menu .navbar-nav .nav-link {
		font-size: 1rem;
	}
	.sub-menu .navbar-nav .nav-link i {
		font-size: 1.2rem;
	}
	.breadcrumb .breadcrumb-item a, .breadcrumb .breadcrumb-item p {
		font-size: 1rem;
	}
}
@media (max-width: 1024px) {
	header .navbar-nav li a {
		padding: 1.25rem 0.75rem !important;
	}
}
@media (max-width: 992px) {
	.card-wrapper {
		margin-bottom: 30px;
	}
	.navbar-toggler {
		padding: 0.5rem 0;
	}
	.navbar-toggler-icon {
		width: auto;
		height: auto;
		padding: 0.5rem 0;
		font-size: 1.5rem;
		display: flex;
    	align-items: center;
	}
	header .navbar-nav li a {
		display: flex;
		width: 100%;
		border-bottom: 1px solid#e0e0e0;
		border-right: 0px;
		padding: 0.75rem !important;
	}
	header .navbar-nav li a span.hidden {
		display: block;
	}
	.dropdown-menu {
		position: absolute !important;
		width: 100% !important;
	}
	.dropdown-toggle::after {
		position: absolute;
		right: 15px;
	}
	.sub-menu .navbar-nav .nav-link {
		font-size: 1rem;
	}
	.sub-menu {
		justify-content: start;
		overflow-x: auto;
	}
}
@media (max-width: 768px) {
	.container {
		width: 100%;
	}
	.banner-wrapper {
		height: 250px;
	}
	.market-banner-wrapper {
		height: auto;
	}
	.market-content {
		padding: 0;
	}
	.market-content-img {
		display: none;
	}
	.market-content ul li {
		align-items: flex-start;
		text-align: left;
	}
	.market-box h4 {
		min-height: 40px;
		font-size: 1rem;
	}
	.market-content-wrapper .row.mb-4 {
		margin-bottom: 0 !important;
	}
	.market-content-wrapper .market-box-outer {
		margin-bottom: 2rem;
	}
	.home-content-wrapper .card .right-aligned {
		text-align: center;
		order: initial;
    	margin-bottom: 1.5rem;
	}
	.banner-content {
		top: 4rem;
		text-align: center;
		left: 15px;
		right: 15px;
	}
	.banner-wrapper img {
		position: absolute;
		right: 0;
		height: 250px;
		max-width: fit-content;
	}
	.banner-content p {
		font-size: 0.875rem;
	}
	.banner-content .btn-video {
		font-size: 0.875rem;
	}
	.banner-content h2 sup {
		font-size: 0.75rem;
		top: -0.55rem;
	}
	.intro-content p {
		font-size: 0.875rem;
	}
	.home-content-wrapper .card, .content-wrapper .card .right-aligned {
		text-align: center;
	}
	.home-content-wrapper .card a {
		display: flex;
	}
	.home-content-wrapper .card .right-aligned a {
		justify-content: flex-end;
	}
	.order-first, .order-last {
		order: unset;
	}
}
@media (max-width: 576px) {
	.banner-content h2 {
		font-size: 1.75rem;
	}
	.intro-content h2 {
		font-size: 1.75rem;
	}
	.content-box, .content-box p {
		height: auto;
	}
	.market-box h4 {
		min-height: auto;
	}
}